[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fastai = "*"

[packages]
flask = "*"
gunicorn = "*"
# Installing this at runtime causes Heroku to run out of memory.
torch = "*"

[requires]
python_version = "3.7"
