<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to SnapCap</title>
  <link rel="icon" src="images/templogo.jpeg">
  <script type="text/javascript" src="index.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="header.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
  <!--<base href="templates/" target="index.html">-->
</head>

<div id="header">
    <h1><strong>[ SnapCap ]</strong></h1>
</div>
<div id="headerstripe"></div>


<body>

  <div class="container-fluid">

      <img src="images/templogo.jpeg" alt="picture">

      <center>

        <div class="no-display">

          <!-- uploading photo functionality -->
          <input id='file-input' class="no-display" type='file'
              name='file' accept='image/*' style="display: none;"
              onchange='showPicked(this)'>
              Make sure the photo is one of your face!
        </div>

        <!-- upload photo button and label -->
        <form method=post enctype=multipart/form-data>
          <input type=file class="btn btn-default btn-file button" name=file>
          <input class="btn btn-default button" type=submit value=Upload>
        </form>

        </div>

      </center>


    <!-- displaying the captured photo -->
    <div class="output">
      <img id="image-picked" class="no-display" height="200">
    </div>

  </div>
</body>

<div id="footer">
  <footer>
    <div class="footerLinks">
        <ul>
          <!-- FILL IN w/ correct paths -->
          <li> <a href="start.html"> Home </a> </li>
          <li> | </li>
	        <li> <a href="index.html"> Get Started </a> </li>
          <li> | </li>
          <li> <a href="howitworks.html"> How it Works </a> </li>
          <li> | </li>
          <li> <a href="about.html"> About Us </a> </li>
        </ul>
      </div>
  </footer>
</div>

</html>
