<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to SnapCap</title>
  <link rel="icon" src="templogo.jpeg">
  <script type="text/javascript" src="index.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="header.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="index.css">

  <!--<base href="templates/" target="index.html">-->
</head>

<div id="header">
    <h1><strong>[ SnapCap ]</strong></h1>
</div>
<div id="headerstripe"></div>


<body>

  <img id="logo" src="templogo.jpeg" alt="picture">

  <center>

      <!-- uploading photo functionality -->
      <input id='inputfile' type='file'
          name='file' accept='image/*' style="display: none;"
          onchange='showPicked(this)'>
      
        
    <h3>Make sure the photo is one of your face!</h3>

    <!-- upload photo button and label -->
    <form method=post enctype=multipart/form-data>
      <input type=file name=file style="margin-left: 180px; padding-bottom: 20px;">
      <!-- <label class="btn btn-default button" for="inputfile">Choose a file</label> -->
      <input class="btn btn-default button" type=submit value=Upload>
    </form>

    </div>

  </center>

  <!-- displaying the captured photo -->
  <!-- <div id="output">
    <img id="image-picked" height="200">
  </div> -->

</body>

<div id="footer">
  <footer>
    <div class="footerLinks">
        <ul>
          <!-- FILL IN w/ correct paths -->
          <li> <a href="start.html"> Home </a> </li>
          <li> | </li>
	        <li> <a href="/"> Get Started </a> </li>
          <li> | </li>
          <li> <a href="howitworks.html"> How it Works </a> </li>
          <li> | </li>
          <li> <a href="about.html"> About Us </a> </li>
        </ul>
      </div>
  </footer>
</div>

</html>
